<div class="home-container">
  <div class="live-scores p-2">
    <div class="row scrolling-wrapper-flexbox">
      <div *ngFor="let liveFixture of liveFixtures" class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <div class="led-green"></div>
            </div>
            <div class="col-8">
              <em>{{liveFixture.round}}</em>
            </div>
            <div class="col-2">
              {{liveFixture.elapsed}}'
            </div>
          </div>
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              {{liveFixture.homeTeam}}
            </div>
            <div class="col-2">
              <b>{{liveFixture.goalsHomeTeam}}</b>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              {{liveFixture.awayTeam}}
            </div>
            <div class="col-2">
              <b>{{liveFixture.goalsAwayTeam}}</b>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="center-container">
    <div class="intro-container">
      <p><b>Welcome {{user}},<br/>Follow your favorite teams, leagues and matches! Check out our Manager fantasy team mode, and let the whole world know why your team is going to win the league in the comments!</b></p>
    </div>
    <!--<div class="col-lg-6 col-md-12 d-none d-md-block">-->
    <!--<img id="slide" class="float-right" src="https://www.api-football.com/public/img/home1/hero-banner1.png" style="width: 60%; height: 300px">-->
    <!--</div>-->
  </div>
</div>
