<div class="container-fluid pb-5" >
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="form-group row mt-3">
          <label for="squadName" class=" col-form-label">Fantasy Team Name: </label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="squadName" placeholder="Enter Squad Name" [(ngModel)]="fantasyTeam.name">
          </div>
        </div>
      </div>
      <div class="col-3">
        <button class="btn btn-success float-right mt-3" (click)="saveFantasyTeam()">Save Team</button>
      </div>
    </div>
  </div>

  <div class="container-fluid row">
    <div class="team-container col-6">
      <div class=" text-center" id="goalkeepers">
        <div class="card-header text-center bg-dark text-white">
          <div>Goalkeepers</div>
        </div>
        <ul class="list-group list-group-flush text-justify">
          <li class="list-group-item" *ngFor="let goalkeeper of fantasyTeam.goalkeepers">
            <div class="row">
              <div class="col-9">
                {{goalkeeper}}
              </div>
              <div class="col-3">
                <button class="btn btn-danger float-right"
                        (click)="deletePlayer({'position':'goalkeepers', 'player':goalkeeper})">
                  <a class="fa fa-times"></a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="text-center" id="defenders">
        <div class="card-header text-center bg-dark text-white">
          <div>Defenders</div>
        </div>
        <ul class="list-group list-group-flush text-justify">
          <li class="list-group-item" *ngFor="let defender of fantasyTeam.defenders">
            <div class="row">
              <div class="col-9">
                {{defender}}
              </div>
              <div class="col-3">
                <button class="btn btn-danger float-right"
                        (click)="deletePlayer({'position':'defenders', 'player':defender})">
                  <a class="fa fa-times"></a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="text-center" id="midfielders">
        <div class="card-header text-center bg-dark text-white">
          <div>Midfielders</div>
        </div>
        <ul class="list-group list-group-flush text-justify">
          <li class="list-group-item" *ngFor="let midfielder of fantasyTeam.midfielders">
            <div class="row">
              <div class="col-9">
                {{midfielder}}
              </div>
              <div class="col-3">
                <button class="btn btn-danger float-right"
                        (click)="deletePlayer({'position':'midfielders', 'player':midfielder})">
                  <a class="fa fa-times"></a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="text-center" id="strikers">
        <div class="card-header text-center bg-dark text-white">
          <div>Strikers</div>
        </div>
        <ul class="list-group list-group-flush text-justify">
          <li class="list-group-item" *ngFor="let striker of fantasyTeam.strikers">
            <div class="row">
              <div class="col-9">
                {{striker}}
              </div>
              <div class="col-3">
                <button class="btn btn-danger float-right" (click)="deletePlayer({'position':'strikers', 'player':striker})">
                  <a class="fa fa-times"></a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-1"></div>

    <div class="col-5">
      <div class="team-container" id="selectPlayers">
        <div class="card-header text-center bg-dark text-white">
          <div>Select a Player</div>
        </div>
        <div id="dropdowns" class="p-3">
          <div class="form-group">
            <label for="league">Select League:</label>
            <select class="form-control" id="league" [(ngModel)]="selectedLeague" (change)="onSelectLeague($event.target.value)">
              <option *ngFor="let league of leagues | keyvalue" [value]="league.value">{{league.key}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="team">Select Team:</label>
            <select class="form-control" id="team" [disabled]="disableTeams" (change)="onSelectTeam($event.target.value)">
              <option *ngFor="let team of teams" value="{{team.team_id}}">{{team.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="player">Select Player:</label>
            <select class="form-control" id="player" [disabled]="disablePlayer" (change)="onSelectPlayer($event.target.value)">
              <option *ngFor="let player of players" value="{{player.player}}">{{player.player}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="position">Select Position:</label>
            <select class="form-control" id="position" [(ngModel)]="selectedPosition" [disabled]="disablePosition">
              <option *ngFor="let position of positions | keyvalue" value="{{position.value}}">{{position.key}}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-6">
              <button class="btn btn-warning btn-block" (click)="cancel()">Cancel</button>
            </div>
            <div class="col-6">
              <button class="btn btn-success btn-block" (click)="addPlayer()">Add Player</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
