<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="https://img.icons8.com/cotton/64/000000/football-kick.png">
    Soccer Tracker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Leagues
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let league of leagues | keyvalue" routerLink="/league/{{league.key}}">{{league.value}}</a>
        </div>
      </li>
      <li *ngIf="loggedIn" class="nav-item dropdown">
<!--        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Profile-->
<!--        </a>-->
        <a class="nav-link" routerLink="/profile">Profile</a>


<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          -->
<!--          <a class="dropdown-item" routerLink="#">Favorites</a>-->
<!--          <a class="dropdown-item" routerLink="/profile">Edit Profile</a>-->
<!--        </div>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fixtures">Fixtures</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchField" [ngModelOptions]="{standalone: true}" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-st my-2 my-sm-0" type="submit" (click)="search()">Search</button>
    </form>
  </div></nav>


<router-outlet (activate)="onActivate($event)"></router-outlet>
