<div class="container-fluid d-flex align-items-center justify-content-between mt-3">

  <img src="{{findLeagueLogo(leagueId)}}" class="resize">
  <h2>{{leagueName}} {{leagueDetails.name}} Standings</h2>

  <div>
    <h5>Season</h5>
    <h4>{{leagueDetails.season}} - {{leagueSeasonNext}}</h4>
  </div>

</div>


<div class="container-fluid m-1 mt-3">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col"></th>
      <th scope="col">Team</th>
      <th scope="col">Matches Played</th>
      <th scope="col">Wins</th>
      <th scope="col">Draws</th>
      <th scope="col">Losses</th>
      <th scope="col">Goal Difference</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let row of leagueStandings">
      <th>{{row.rank}}</th>
      <td><a routerLink="/team/{{row.team_id}}"><img src="{{teamLogos[row.team_id]}}" class="teamLogoImg"></a></td>
      <th><a routerLink="/team/{{row.team_id}}">{{row.teamName}}</a></th>
      <td>{{row.matchsPlayed}}</td>
      <td>{{row.win}}</td>
      <td>{{row.draw}}</td>
      <td>{{row.lose}}</td>
      <td>{{row.goalsDiff}}</td>
      <th>{{row.points}}</th>
    </tr>
    </tbody>
  </table>
</div>
