<!--<div class="container-fluid d-flex align-items-center justify-content-between mt-3">-->

<!--  <img src="{{leagueLogos[leagueId]}}" class="resize">-->
<!--  <h2>{{leagueNames[leagueId]}} {{leagueDetails.name}} Standings</h2>-->

<!--  <div>-->
<!--    <h5>Season</h5>-->
<!--    <h4>{{leagueDetails.season}} - {{leagueSeasonNext}}</h4>-->
<!--  </div>-->

<!--</div>-->


<div class="container-fluid m-1 mt-3">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col"></th>
      <th scope="col">Team</th>
      <th class="d-none d-md-table-cell" scope="col">Matches Played</th>
      <th class="d-none d-md-table-cell" scope="col">Wins</th>
      <th class="d-none d-md-table-cell" scope="col">Draws</th>
      <th class="d-none d-md-table-cell" scope="col">Losses</th>
      <th class="d-none d-md-table-cell" scope="col">Goal Difference</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let row of leagueStandings">
      <th>{{row.rank}}</th>
      <td><a routerLink="/team/{{row.team_id}}"><img src="{{teamLogos[row.team_id]}}" class="teamLogoImg"></a></td>
      <th><a routerLink="/team/{{row.team_id}}">{{row.teamName}}</a></th>
      <td class="d-none d-md-table-cell">{{row.matchsPlayed}}</td>
      <td class="d-none d-md-table-cell">{{row.win}}</td>
      <td class="d-none d-md-table-cell">{{row.draw}}</td>
      <td class="d-none d-md-table-cell">{{row.lose}}</td>
      <td class="d-none d-md-table-cell">{{row.goalsDiff}}</td>
      <th>{{row.points}}</th>
    </tr>
    </tbody>
  </table>
</div>


<div class="ml-3">
  <h3>Comments</h3>
</div>
<div *ngFor="let comment of comments" class="mt-3">
  <div class="card mb-2 ml-3 mr-3">
    <div class="card-body">
      <div class="row">
        <div *ngIf="comment.userId !== userId" class="col-9">
          <h5 class="card-title"><a routerLink="/profile/{{comment.userId}}">User {{comment.userId}}</a> says...</h5>
          {{comment.comment}}
        </div>
        <div *ngIf="comment.userId === userId" class="col-9">
          <h5 class="card-title"><a routerLink="/profile/{{comment.userId}}">You </a> said...</h5>
          {{comment.comment}}
        </div>
        <div class="col-3">
          <button *ngIf="comment.userId===userId" class="btn btn-danger float-right" (click)="deleteComment(comment._id)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loggedIn" class="row ml-3 mr-3">
  <div class="col-9" style="padding: 0">
    <textarea [(ngModel)]="newComment" class="form-control" placeholder="Enter your comment"></textarea>
  </div>
  <div class="col-3" style="padding-right: 0">
    <button class="btn btn-block btn-primary" (click)="postComment()">Post</button>
  </div>
</div>
<div id="noUser" class="row ml-3" *ngIf="!loggedIn">
  <div class="col-12 row" ><p>Please login or sign up to comment!</p></div>
  <div class="col-12 row">
    <a routerLink="/login"><button class="btn btn-block btn-primary">Login / Sign Up</button></a>
  </div>
</div>

