<div [ngClass]="['container', rightPanelActive ? 'right-panel-active' : '']" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <p *ngIf="showSignUpError" class="text-danger">Try again with different credentials</p>
      <input type="text" placeholder="First name" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}"/>
      <input type="text" placeholder="Last name" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}"/>
      <input type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
      <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
      Be a Manager! Manage a Fantasy Team<input style="float: left" type="checkbox" [(ngModel)]="manager" [ngModelOptions]="{standalone: true}"/>
      <button (click)="signUp()">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <p *ngIf="showLoginError" class="text-danger">Try again with different credentials</p>
      <input type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
      <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
      <!--<a href="#">Forgot your password?</a>-->
      <button (click)="signIn()">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>Use your info to log in</p>
        <button class="ghost" id="signIn" (click)="goToSignIn()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello!</h1>
        <p>Enter your details and sign up with us</p>
        <button class="ghost" id="signUp" (click)="goToSignUp()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
