img.resize {
  height: auto;
  width: auto;
  max-width: 220px;
  max-height: 220px;
}

.border-2 {
  border-width:2px !important;
}

.teamLogoImg {
  max-width:60px;
  max-height:60px;
  width: auto;
  height: auto;
}

/*Center rows*/
.table td {
  text-align: center;
  vertical-align: middle;
}

/*Center headers*/
.table th {
  text-align: center;
  vertical-align: middle;
}
